.first-bg{
  background-image: url(../images/banner-bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
}
#pizza{
  font-family: 'Sedgwick Ave Display', cursive;
  color: white;
}
#tamu{
  color:orange;
  text-transform: uppercase;
  font-family: 'Sedgwick Ave Display', cursive;
  font-weight: bold;
}
.pitsa{
  border: 2px solid #fff;
}
.banner-bg{
  position:relative;
  background-color: black;
  opacity: 0.8;
  height: auto;
}
/* End of header */

/* Size */
.medium-size{
  font-family: 'Sedgwick Ave Display', cursive;
}
.add{
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  border:none;
  background-color:transparent;
  color: red;
  font-size: 18px;
  font-family: 'Sedgwick Ave Display', cursive;

}
.card{
  font-family: 'Sedgwick Ave Display', cursive;
  background-color:wheat;
  height: auto;
}
.card-header{
  color:orangered;
}
.card-footer{
  color: red;
  text-transform: uppercase;
}
.flavour{
  display: inline-block;
}
.flavour h6{
  color: black;
}
.price{
  color: black;
  font-family:georgia;
}

.quantity{
  width: 20%;
}
.description{
  color: black;
}
/* End of size */
